<div class="container">
  <legend>Ordenes</legend>
  <div class="form-inline" *ngIf="crud_operation.is_visible">
    <label>Cliente:</label>
    <select class="btn btn-default" [(ngModel)]="current_boleta.cliente">
      <option value="Pedro">Pedro</option>
	  </select>
    <label>Tecnico:</label>
  	<select class="btn btn-default" [(ngModel)]="current_boleta.tecnico">
  	  <option value="Raul">Raul</option>
  	</select>
    <br><br>
  	<label>Datos ingreso:</label>
      <input class="form-control" type="text" placeholder="place notes here..." [(ngModel)]="current_boleta.notaUno">
    <br><br>
    <label>Ingreso:</label>
    <input type="date" placeholder="place notes here..." [(ngModel)]="current_boleta.fechaIngreso">
    <br><br>
     <label>Estado:</label>
    <select class="btn btn-default" [(ngModel)]="current_boleta.estado">
      <option value="Recibido">Recibido</option>
      <option value="En Revisión">En Revisión</option>
      <option value="Entregado">Entregado</option>
    </select>
    <br><br>
    <label><b><u>Datos de entrega de dispositivo</u></b></label>
    <br><br>
    <label>Entrega:</label>
    <input type="date" placeholder="place notes here..." [(ngModel)]="current_boleta.fechaEntrega">
    <br><br>
  	<label>Datos salida:</label>
  	<input type="text" placeholder="place notes here..." [(ngModel)]="current_boleta.notaDos">
    <br><br>
    <label for="imagen">Fotos:</label>
    <input class="form-control" type="text" name="imagen" [(ngModel)]="current_boleta.fotos">
    <br><br>
    <label>Repuestos:</label>
    <select class="btn btn-default" [(ngModel)]="current_boleta.repuestos">
      <option value="Flex">Flex</option>
    </select>
    <br><br>
    <label>Costo:</label>
    <input type="number" placeholder="place notes here..." [(ngModel)]="current_boleta.costo">
    <br><br>
    <label>Firma:</label>
    <input type="text" placeholder="sign here..." [(ngModel)]="current_boleta.firma">
    <br><br>

    <button class="btn btn-primary"(click)="save()">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>
      Save
    </button>
    <button class="btn btn-default"(click)="crud_operation.is_visible = false">
      <i class="fa fa-ban" aria-hidden="true"></i>
      Cancel
    </button>
  </div>

  <br><br>
  <div class="form-inline">
    <input class="form-control" type="search" placeholder="Search here.." [(ngModel)]="query">
    <button class="form-control btn btn-primary" (click)="ngOnInit()">OK</button>
  </div>

  <table class="table table-striped table-hover">
    <tr>
      <th>Cliente</th>
      <th>Tecnico</th>
      <th>Datos dispositivo</th>
      <th>Datos de reparación</th>
      <th>Fotos</th>
      <th>Repuestos</th>
      <th>Estado</th>
      <th>Ingreso</th>
      <th>Entrega</th>
      <th>Costo</th>
      <th>Firma</th>
      <th class="text-right">
        <button class="btn btn-success" (click)="new()"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <button class="btn btn-info" (click)="ngOnInit()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
      </th>
    </tr>
    <tr *ngFor="let row of data">
      <td>{{row.cliente}}</td>
      <td>{{row.tecnico}}</td>
      <td>{{row.notaUno}}</td>
      <td>{{row.notaDos}}</td>
      <td>{{row.fotos}}</td>
      <td>{{row.repuestos}}</td>
      <td>{{row.estado}}</td>
      <td>{{row.fechaIngreso}}</td>
      <td>{{row.fechaEntrega}}</td>
      <td>{{row.costo}}</td>
      <td>{{row.firma}}</td>
      <td class="text-right">
        <div *ngIf="!row.confirm">
          <button class="btn btn-warning" (click)="edit(row)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          <button class="btn btn-danger" (click)="row.confirm = true"><i class="fa fa-times" aria-hidden="true"></i></button>
          <a [routerLink]="['/boletas/', row.id]" class="btn btn-info">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>
        </div>
        <div *ngIf="row.confirm">
          <button class="btn btn-danger" (click)="row.confirm = false">Cancel</button>
          <button class="btn btn-success" (click)="delete(row.id)">Confirm</button>
        </div>
      </td>
    </tr>
    <tr *ngIf="data.length == 0">
      <td colspan="4" class="text-center">No data available</td>
    </tr>
  </table>
</div>


<!--<div>
  <div id="sketch">
    <canvas id="paint"></canvas>
  </div>

  <div id="settings"> Colours
    <button onclick="getColor('blue');">Blue</button>
    <button onclick="getColor('red');">Red</button>
    <button onclick="getColor('green');">Green</button>
    <button onclick="getColor('white');">White</button>
    <button onclick="getColor('#333333');">Eraser</button>
  </div>

  <div id="settings"> Brush Size
    <button onclick="getSize('2');">Small</button>
    <button onclick="getSize('5');">Med</button>
    <button onclick="getSize('10');">Large</button>
    <button onclick="getSize('20');">X Large</button>
  </div>

  <script type="text/javascript">
    
  var canvas = document.getElementById('paint');
  var ctx = canvas.getContext('2d');
   
  var sketch = document.getElementById('sketch');
  var sketch_style = getComputedStyle(sketch);
  canvas.width = 500;
  canvas.height = 250;

  var mouse = {x: 0, y: 0};
   
  /* Mouse Capturing Work */
  canvas.addEventListener('mousemove', function(e) {
    mouse.x = e.pageX - this.offsetLeft;
    mouse.y = e.pageY - this.offsetTop;
  }, false);

  /* Drawing on Paint App */
  ctx.lineJoin = 'round';
  ctx.lineCap = 'round';

  ctx.strokeStyle = "red";
  function getColor(colour){ctx.strokeStyle = colour;}

  function getSize(size){ctx.lineWidth = size;}


  //ctx.strokeStyle = 
  //ctx.strokeStyle = document.settings.colour[1].value;
   
  canvas.addEventListener('mousedown', function(e) {
      ctx.beginPath();
      ctx.moveTo(mouse.x, mouse.y);
   
      canvas.addEventListener('mousemove', onPaint, false);
  }, false);
   
  canvas.addEventListener('mouseup', function() {
      canvas.removeEventListener('mousemove', onPaint, false);
  }, false);
   
  var onPaint = function() {
      ctx.lineTo(mouse.x, mouse.y);
      ctx.stroke();
  };

  </script>
</div>-->

